* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,0.7020149124102766) 0%, rgba(242,159,5,0) 63%, rgba(0,88,255,0.6375891421021533) 97%);

   background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(107,25,25,0.8336675734747023) 91%);
}


.logo {
    width: 160px;
    height: 160px;
    display: block;
    margin: 9px auto;
    filter: opacity(85%);
   
}

main {
    width: 375px;
    background: #F4F4F4;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;/* 1)cima 2)lados 3)baixo*/

    /* padding: 44px; aplica para os 4 lados*/
    /*  padding: 44px 24px;  1) cima e baixo 2)lados*/
    /* padding: 44px 24px 23px 20px; 1)cima 2)direita 3)baixo 4)esquerda*/
}

label {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
}

select {
    border: 1px solid #BBBBBB;
    background: #FFFFFF;
    border-radius: 4px;    
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
    cursor: pointer;

    /*appearance: none;*/
}

input {
    border: 1px solid #BBBBBB;
    background: #FFFFFF;
    border-radius: 4px;    
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #555555;
}

button {
    border-radius: 5px;
    background: #772FD3;
    width: 100%;
    border: none;
    height: 48px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border-radius: 20px;
    border: 1px solid #772FD3;
    margin-top: 36px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-seta {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777777;
    font-size: 14px;    
}

.currency-value, .currency-value-to-convert {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}